.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.tryAgain {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.flexer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Hide the default Edge eye icon */
input::-ms-reveal {
  display: none;
}
input::-ms-clear {
  display: none; /* also hides the clear (x) button on text inputs */
}

.py-8 {
  padding-bottom: 0 !important;
}
